<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      restablecer contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="reset-password.body">
<form class="recuperar-contrasena">
  <div class="cambiar-contrasena">
    <h2>¿Necesitas recuperar contraseña?</h2>
    <br>
    <div>
      <h5>
      Correo
      </h5>
        <ion-input class="correo" 
        label="correo"
        label-placement="floating" fill="solid" 
        placeholder="Ingresar correo"
        placeholder="example@email.com" required></ion-input>
        <br>
        <div class="button1">
          <ion-button [routerLink]="['']" color="light">enviar</ion-button>
          <br>
          <ion-button [routerLink]="['/home']" color="light">¿Volver?</ion-button>
        </div>
    </div>
  </div>
</form>
</ion-content>
