.correo{
    width: 350px;
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: center;
}

.button1{
    width: 350px;
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: center;
}

.button2{
    width: 350px;
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: center;
}