<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-title class="titulo">
      Ingresa tu correo institucional
      <p class="texto">Para recibir un mensaje en el email</p>
    </ion-title>
  </div>
  <section class="form-register">
    <ion-input label="correo" type="email" label-placement="floating" fill="outline" placeholder="Ingresa correo"></ion-input>
    <br>
    <div class="boton3">
      <ion-button [routerLink]="['']">enviar</ion-button>
    </div>
    <div class="boton4">
      <ion-button [routerLink]="['/home']">¿Volver?</ion-button>
    </div>
  </section>
</ion-content>
