<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      restablecer contraseña
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cambiar-contrasena">
    <h2>Ingresa tu correo de la institución 
    para restablecer la nueva contraseña</h2>
    <br>
    <div>
      <form class="restablecer-contrasena">
        <ion-input class="correo" type="email" label="correo Institucional" label-placement="floating" fill="outline" placeholder="Ingrese correo"></ion-input>
        <br>
        <div class="button1">
          <ion-button [routerLink]="['']">enviar</ion-button>
        </div>
        <div class="button2">
          <ion-button [routerLink]="['/home']">¿Volver?</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
