<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="light">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
    
    <ion-button [routerLink]="['/ventana4']"fill="clear">Historial de viajes de Usuario</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana5']" fill="clear">realizar viaje</ion-button>
    <br>
    <ion-button [routerLink]="['/tarifas']"fill="clear">Tarifas</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana6']"fill="clear">configuracion </ion-button>
    <br>
    <ion-button [routerLink]="['/ventana7']"fill="clear">quienes somos</ion-button>
    <br>
  </ion-header>
  <!--contenido del menu-->

  <ion-button [routerLink]="['/home']" color="light">Cerrar Sesion</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <!--290 x km = $precio Precio por distancia
  90 x min =  $precio Precio por tiempo
  precioDistancia + precioTiempo + 500 (Tarifa base) = $precioTotal -->
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Olmue</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 15 min
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 9.3km
        </div>
        <div class="ion-padding" slot="content">
          Pago: $4.547
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Villa Alemana</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 21 min
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 17km
        </div>
        <div class="ion-padding" slot="content">
          Pago: $11.520
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Belloto</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 21 min
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 21.5 km
        </div>
        <div class="ion-padding" slot="content">
          Pago: $8.625
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Quilpue</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 23 min
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 21.4 km 

        </div>
        <div class="ion-padding" slot="content">
          Pago: $8.276
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Viña Del Mar</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 33 min 
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 33.4 km 
        </div>
        <div class="ion-padding" slot="content">
          Pago: $13.076
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Valparaiso</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 42 min
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 39.5 km 
        </div>
        <div class="ion-padding" slot="content">
          Pago: $15.730
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Concon</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          Tiempo: 43 min
        </div>
        <div class="ion-padding" slot="content">
          Distancia: 47.6 km 
        </div>
        <div class="ion-padding" slot="content">
          Pago: $18.174
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <br>
  <div class="cotizarViaje">
    Si no te encuentras por algunas de estas comunas, cotiza aquí:
    <br>
    <ion-button [routerLink]="['/ventana5']">cotizar viajes</ion-button>
  </div>
</ion-content>