<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
    
    <ion-button [routerLink]="['/ventana4']"fill="clear">Historial de viajes de Usuario</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana5']" fill="clear">realizar viaje</ion-button>
    <br>
    <ion-button [routerLink]="['/tarifas']"fill="clear">Tarifas</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana6']"fill="clear">configuracion </ion-button>
    <br>
    <ion-button [routerLink]="['/ventana7']"fill="clear">quienes somos</ion-button>
    <br>
  </ion-header>
  <!--contenido del menu-->

  <ion-button [routerLink]="['/home']">Cerrar Sesion</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Villa Alemana</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          1 persona: $550
        </div>
        <div class="ion-padding" slot="content">
          2 personas: $850

        </div>
        <div class="ion-padding" slot="content">
          3 personas: $1000
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Belloto</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          1 persona: $750
        </div>
        <div class="ion-padding" slot="content">
          2 personas: $1050

        </div>
        <div class="ion-padding" slot="content">
          3 personas: $1150
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Quilpue</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          1 persona: $950
        </div>
        <div class="ion-padding" slot="content">
          2 personas: $950

        </div>
        <div class="ion-padding" slot="content">
          3 personas: $1050
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <ion-list lines="full">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Limache-Viña Del Mar</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          1 persona: $1050
        </div>
        <div class="ion-padding" slot="content">
          2 personas: $1150

        </div>
        <div class="ion-padding" slot="content">
          3 personas: $1250
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>
  <br>
  <div class="cotizarViaje">
    Si no te encuentras por algunas de estas comunas, cotiza aquí:
    <br>
    <ion-button [routerLink]="['/ventana3']">cotizar viajes</ion-button>
  </div>
</ion-content>
