<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
    
    <ion-button [routerLink]="['/ventana4']"fill="clear">Historial de viajes de Usuario</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana5']" fill="clear">realizar viaje</ion-button>
    <br>
    <ion-button [routerLink]="['/tarifas']"fill="clear">Tarifas</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana6']"fill="clear">configuracion </ion-button>
    <br>
    <ion-button [routerLink]="['/ventana7']"fill="clear">quienes somos</ion-button>
    <br>
  </ion-header>
  <!--contenido del menu-->

  <ion-button [routerLink]="['/home']">Cerrar Sesion</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

   <!--contenido-->
  <section class="form-viaje">
    <h4>realizar viajes</h4>
    <h6>Punto de partida</h6>
    <ion-input label="ubicación" label-placement="floating" fill="outline" placeholder="Ingrese ubicación"></ion-input>
    <br>
    <h6>Destino</h6>
    <ion-input label="ubicación" label-placement="floating" fill="outline" placeholder="Ingrese ubicación"></ion-input>
    <br>
    <h6>precio</h6>
    <ion-input label="precio" type= "number" label-placement="floating" fill="outline" placeholder="Ingrese precio"></ion-input>
    <br>
    <div class="confirmarViaje2">
      <ion-button (click)= "pagar()">pagar</ion-button>
    </div>
  </section>


<ion-button [routerLink]="['/ventana3']">Volver</ion-button>