<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
    
    <ion-button [routerLink]="['/ventana4']"fill="clear">Historial de viajes de Usuario</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana5']" fill="clear">realizar viaje</ion-button>
    <br>
    <ion-button [routerLink]="['/ventana6']"fill="clear">configuracion </ion-button>
    <br>
    <ion-button [routerLink]="['/ventana7']"fill="clear">quienes somos</ion-button>
    <br>
  </ion-header>
  <!--contenido del menu-->

  <ion-button [routerLink]="['/home']">Cerrar Sesion</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
  <section class="form-register">
    <h4>realizar viajes</h4>
    <h6>nombre de usuario</h6>
    <ion-input label="nombre de usuario" label-placement="floating" fill="outline" placeholder="Ingrese nombre"></ion-input>
    <br>
    <h6>Punto de partida</h6>
    <ion-input label="ubicación" label-placement="floating" fill="outline" placeholder="Ingrese ubicación"></ion-input>
    <br>
    <h6>Destino</h6>
    <ion-input label="ubicación" label-placement="floating" fill="outline" placeholder="Ingrese ubicación"></ion-input>
    <br>
    <h6>precio</h6>
    <ion-input label="precio" type= "number" label-placement="floating" fill="outline" placeholder="Ingrese precio"></ion-input>
  <!-- <script defer scr="https://maps.googleapi.com/maps/api/js?key=AIazSyBdQqqqevxIYYURTH2VgQYRTSpIbHNsuGw"></script> -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.86508698157!2d-71.53575902412106!3d-33.03368467629028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de64d74fd4af%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses!2scl!4v1696268643549!5m2!1ses!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <ion-button [routerLink]="['/ventana3']"> confirmar viaje</ion-button>
    <br>
  </section>
</ion-content>

<ion-button [routerLink]="['/ventana3']">Volver</ion-button>