
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      DuocMovil
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="fondohome">
  <div class="inicioSesion">
    <form [formGroup]="inicioSesion">
        <h1>Iniciar Sesion</h1>
        <ion-input formControlNickname="Nickname" label="nombre de usuario" label-placement="floating" fill="solid" placeholder="Ingrese nombre">Usuario</ion-input>
        <!--
        <div *ngIF="formulario.get('Nickname').hasError('required')">
          El nombre de usuario es requerido
        </div>
        <div *ngIF="formulario.get('Nickname').hasError('pattern')">
          El nombre de usuario debe tener con nombre y números
        </div>
        <div *ngIF="formulario.get('Nickname').hasError('minLength')">
          El nombre de usuario debe tener un minimo de 3 caracteres
        </div>
        <div *ngIF="formulario.get('Nickname').hasError('maxLength')"> Por si se sobre pasa
          El nombre de usuario debe tener un maximo de 12 caracteres
        </div>-->
        <br>
        <ion-input formControlcontraseña="contraseña" label="contraseña" type="password" id="password" label-placement="floating" fill="solid" placeholder="Ingresa contraseña">Contraseña</ion-input>
        <br>
        <div>
          <a [routerLink]="['/reset-password']">¿Olvidaste tu contraseña?</a>
        </div>
        <br>
        <div class="boton">
          <ion-button (click)= "confirmar()">confirmar</ion-button>
        </div>
    </form>
  </div>
  <ion-button [routerLink]="['/register']">Registrar</ion-button>
</ion-content>


