<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondoregister">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="registrarUsuario">
      <form [formGroup]="formularioRegistro">
        <h1>Registrar Usuario</h1>
        <ion-input formControlName="nombre" label="nombre" label-placement="floating" fill="solid" placeholder="Ingrese nombre">Nombre</ion-input>
        <br>
        <ion-input formControlName="apellido" label="apellido" label-placement="floating" fill="solid" placeholder="Ingrese apellido">apellido</ion-input>
        <br>
        <ion-input formControlName="Nickname"  label="username" label-placement="floating" fill="solid" placeholder="Ingrese apodo">Username</ion-input>
        <br>
        <ion-input formControlName="contraseña" label="contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese contraseña">contraseña</ion-input>
        <br>
        <ion-input formControlName="repetirPassword" label="repetir contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese contraseña">Repetir contraseña</ion-input>
        <mat-error *ngIf="contrasenasIguales()">Las contraseñas no coinciden</mat-error>
        <br>
        <ion-button (click)= "guardar()" >Guardar</ion-button>
      </form>
    </div>  
</ion-content>

<ion-button [routerLink]="['/home']">Iniciar Sesion</ion-button> 
