<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondoregister">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="form-register">
    <h4>Registrar Usuario</h4>
    <h5>Nombre</h5>
    <ion-input label="nombre" label-placement="floating" fill="outline" placeholder="Ingrese nombre"></ion-input>
    <h5>Apellido</h5>
    <ion-input label="apellido" label-placement="floating" fill="outline" placeholder="Ingrese apellido"></ion-input>
    <h5>Contraseña</h5>
    <ion-input label="contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingrese contraseña"></ion-input>
    <h5>Nickname</h5>
    <ion-input label="Nickname" label-placement="floating" fill="outline" placeholder="Ingrese apodo"></ion-input>
    <br>
    <ion-button (click)="Si()">Si</ion-button>
    <ion-button (click)="No()">No</ion-button>
    <br>
    <br>
    
    <p> ¿Tienes cuenta? haz click aqui:</p>
    <ion-button [routerLink]="['/home']">Iniciar Sesion</ion-button> 
    
  </section>

</ion-content>

